.container {
    display: flex;
    align-items: flex-start;
    width: 300px;

    padding: 1em;
    border: 2px solid blue;
}

.item {
    background-color: #eee;
    padding: 20px;
    border: 2px solid #000;
    flex-basis: 300px;
    flex-shrink: 0;
}

#flex-start .item {
    flex-shrink: 1;
}

#zero .item {
    flex-shrink: 0;
}

#flex-shrink-2nd-item .item:nth-child(2) {
    flex-shrink: 1;
}