div {
    border: 2px solid black;
    padding: 1em 2em;
    margin-bottom: 2em;
}

.uniform-margin {
    padding: 20px;
}

.non-uniform {
    padding: 10px 30px 20px 40px;
}

.negative {
    padding: 5%;
}