.container {

    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;

}

.cotainer#flex-start {
    justify-content: flex-start;
}

.container#center {
    justify-content: center;
}


.container#flex-end {
    justify-content: flex-end;
}

.container#space-between {
    justify-content: space-between
}

.container#space-around {
    justify-content: space-around;
}

.container#space-evenly {
    justify-content: space-evenly;
}

#item {

    background-color: #eee;
    padding: 20px;
    border: 2px solid #000;

}
